body {
    margin: 0px;
    display: block;
}

.page-top-image {
    height: 80vh;
    display: inline-table;
}

.page-top-image img {
    width: 100%;   
    height: 80vh;
    object-fit: cover;
} 

.page-top-image .credit-badge {
    position: absolute;
    right: 10px;
    bottom: 140px;
}

@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(http://fonts.gstatic.com/s/lemon/v5/WRZq1AYYveIOSocZAeAyAw.ttf) format('truetype');
}

.page-top-image .greetings {
    width: 395px;
	height: 67px;
	margin-left: 69px;
	margin-top: -367px;
	position: relative;
	text-align: center;
	border-radius: 10px;
	background-color: #f00;
	-webkit-animation-name: rgb-animation; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 30s; /* Safari 4.0 - 8.0 */
	animation-name: rgb-animation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

.page-top-image .greetings h1 {
    padding-top: 8px;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Delius Unicase', cursive;
}

@keyframes rgb-animation {
	0% {background-color: #f00;}
	7% {background-color: #ff7100;}
	14% {background-color: #ffa900;}
	21% {background-color: #fff800;}
	28% {background-color: #8bff00;}
	35% {background-color: #00ff07;}
	42% {background-color: #00ff9a;}
	49% {background-color: #00ffe8;}
	56% {background-color: #0df;}
	63% {background-color: #0040ff;}
	70% {background-color: #3100ff;}
	77% {background-color: #6900ff;}
	84% {background-color: #b800ff;}
	91% {background-color: #ff00ec;}
	100% {background-color: #ff009d;}
}

.about-me {
    margin-top: 55px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    display: -webkit-inline-box;
}

.about-me .introduction {
    display: inherit;
}

.introduction-content {
    width: 75%;
}

.circle-image {
    width: 180px;
    height: 180px;
    padding:5px 4px;
    border-radius: 50%;
    display:block;
    overflow: hidden;
}

.circle-image img {
    width: 290px;
    margin-top: 16px; 
    margin-left: -52px; 
    transform: rotate(-90deg);
}

.about-me p {
    margin-top: 5%;
    margin-left: 5%;
    word-wrap: break-word;
    text-align: justify;
    font-family: 'Mada', sans-serif;
    color: #646464;
}

.about-me .see-more {
    text-align: right;
}

.about-me .see-more a {
    font-size: 25px;
    color: #838383;
    text-decoration: none;
    font-family: 'Mada', sans-serif;
    width: 30px;
}

.title-center {
    margin-top: 5px;
}

.title-center h1 {
    text-align: center;
    font-family: 'Mada', sans-serif;
    color: #ababab;
    font-weight: normal;
}

.content-align-center {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
}

.project-card-beacon-compact {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    display: inline-block;
}

.project-card-beacon {
    overflow: hidden;
    position: relative;
    max-width: 25rem;
}

.project-card {
    background: #fff;
    -webkit-appearance: none;
}

.project-card .project-card-ico {
    width: 100%;
    height: 0;
    display: flex;
    overflow: hidden;
    position: relative;
    padding-bottom: 64%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #D0D8D8;
    border-top: 1px solid #D0D8D8;
    border-right: 1px solid #D0D8D8;
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
    object-fit: cover;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
}

.project-card-ico img {
    height: 200px;
}

.project-card-beacon .project-card-details {
    margin-top: 0;
    width: 100%;
    height: 0;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all .1s ease-in-out;
    padding: 0 0 30%;
    font-size: .875rem;
    border-left: 1px solid #D0D8D8;
    border-right: 1px solid #D0D8D8;
    border-bottom: 1px solid #D0D8D8;
    border-bottom-left-radius: .3125rem;
    border-bottom-right-radius: .3125rem;
}

.project-card-beacon-compact .project-card-details h3 {
	width: 100%;
	height: 100%;
    display: flex;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	padding-left: .3125rem;
	padding-right: .3125rem; 
	overflow: hidden;
	color: #ababab;
	text-align: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	white-space: normal;
    font-family: 'Mada', sans-serif;
    font-weight: normal;
    text-decoration: none;
	text-overflow: ellipsis;
	font-size: 200%;
}

.content-align-center .project-card a {
    text-decoration: none;
}

.footer {
    background-color: #333232;
    height: 100px;
    width: 100%;
    margin-top: 5%;
}

.left-footer {
    width: 20%;
    padding-left: 60px;
    padding-top: 10px;
    float: left;
}

.left-footer p {
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.left-footer a { 
    text-decoration: none;
}

.right-footer {
    margin-top: 40px;
    position: absolute;
    right: 30px;
}

.right-footer a {
    color: #333232;
}

.right-footer a img {
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.project {
    margin-left: 10%;
    margin-top: 5px;
    margin-right: 10%;
    display: -webkit-inline-box;
}

.project-image {
    border-radius: 2px;
}

.project-image img {
    width: 45vh;
}

.project-description {
    width: 100vh;
    margin-left: 70px;
}

.project-description p {
    font-family: 'Mada', sans-serif;
    word-wrap: break-word;
    text-align: justify;
    color: #646464;
}

.project-links {
    width: 380px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
}

.project-links a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.project-link {
    width: 165px;
    height: 60px;
    border-radius: 25px;
    border: 2px solid #18ACDB;
    background-color: #18ACDB;
    font-family: 'Mada', sans-serif;
}

.project-link h1 {
    margin-top: 10px;
}

.project-github-link {
    width: 165px;
    height: 60px;
    border-radius: 25px;
    border: 2px solid #95989A;
}

.project-github-link img {
    width: 20vh;
    margin: 5px; 
}

.about-me-description {
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-align: justify;
    word-wrap: break-word;
    font-family: 'Mada', sans-serif;
    color: #646464;
}

.credits {
    margin-top: 30px;
    margin-left: 10%;
}

.credits h4 {
    font-family: 'Mada', sans-serif;
    color: #646464;
}

.credits p {
    font-family: 'Mada', sans-serif;
    color: #646464;
}

.skills {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.skills img {
    width: 145px;
    margin: 25px;
}

.skills img:hover {
    animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}